@import url('variables.css');

/* General Style */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--lite-gray);
    min-width: 320px;
    width: 85%;
    margin: 2rem auto;
}

h1 {
    font-size: 4rem;
    color: var(--naval-blue);
    line-height: 100%;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--naval-blue);
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

p {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 300;
}

section.container:first-of-type {
    margin-top: 40px;
}

.container {
    background-color: var(--white);
    border-radius: 50px;
    padding: 3rem;
    margin: 80px 0;
}

.container .interface {
    display: flex;
    gap: 3rem;
}

/* Header Style */
header {
    background-color: var(--naval-blue);
    border-radius: 60px;
    padding: 20px;
}

header>.interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt-link {
    color: var(--white);
    font-weight: 900;
    font-size: 4rem;
    margin-left: 2rem;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 5px;
}

header nav ul li:last-child {
    margin-right: 50px;
}

.menu-desktop {
    font-size: 40px;
    padding: 10px;
}

.menu-desktop i {
    cursor: pointer;
    color: var(--white);
}

.link-btn {
    display: flex;
    align-items: center;
}

.btn {
    padding: 18px 40px;
    color: var(--naval-blue);
    background-color: var(--aqua-marine);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    font-weight: 700;
    font-size: 22px;
}

.btn:hover {
    box-shadow: 0px 0px 8px var(--aqua-marine-lite);
    transform: scale(1.05);
}

.btn-plans {
    font-size: 30px;
    font-weight: 800;
    border-radius: 40px;
}

.btn-test {
    font-size: 40px;
    font-weight: 800;
    border-radius: 40px;
    display: flex;
    justify-self: center;
}

.btn-ourPlans {
    font-size: 30px;
    font-weight: 800;
    border-radius: 40px;
    display: flex;
    justify-self: center;
    display: none;
}

/* Top-Site Style */
.txt-top-site {
    color: var(--naval-blue);
    width: 50%;
}

.txt-top-site p {
    padding: 2rem 0;
}

.img-top-site {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img-top-site img {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    transition: .2s;
}

.img-top-site img:hover {
    transform: scale(1.02);
}

/* Style About */

.container .cards {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--naval-blue);
    color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.container .cards:hover {
    transform: scale(1.02);
}

.container .cards .img-card {
    font-size: 300%;
    flex: 0 0 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container .cards .txt-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.container .cards .txt-card h3 {
    font-weight: 700;
    margin: 0;
}

.container .cards .txt-card p {
    line-height: 1.5;
    margin: 0;
}

/* About-us Style */

.main-us {
    background-color: var(--naval-blue);
}

.main-us h2 {
    color: var(--white);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    justify-content: space-around;
    padding-top: 30px;
}

.us-card {
    flex-direction: column;
    background-color: var(--white);
    border-radius: 15px;
    width: 18%;
    min-width: 180px;
    display: flex;
    transition: .2s;
}

.us-card:hover {
    transform: scale(1.02);
}

.us-img-card {
    align-self: center;
    overflow: hidden;
    padding-top: 10px;
    width: 90%;
    aspect-ratio: 1/1;
    position: relative;
}

.group-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}

.us-card .txt-card {
    margin-left: 7px;
    color: var(--naval-blue);
}

.group-description {
    color: var(--white);
    padding-top: 30px;
}

.name {
    padding-top: 5px;
    line-height: unset;
    font-weight: 700;
}

.position {
    font-size: 1rem;
    padding-bottom: 5px;
}

/* Style Our Product */
.product-screen {
    gap: 20px;
}

.img-our-product {
    margin-top: 2rem;
}

.img-our-product img {
    width: 80%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

/* contact */
.contact-screen {
    height: fit-content;
        width: 30%;
}

.container-contact {
    display: flex;
    justify-content: space-between;
    ;
}

.contact-screen h2 {
    margin-bottom: 2rem;
    font-size: 50px;
    font-weight: 900;
    color: var(--naval-blue);
}

.contact-screen button {
    padding: 18px 40px;
    font-size: 22px;
    color: var(--white);
    font-weight: 70;
    background-color: var(--naval-blue);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    width: 520px;
    height: 56px
}

textarea {
    font-family: montserrat;
    border: none;
    border-radius: 10px;
    resize: none;
    background-color: var(--lite-gray);
    padding-left: 10px;
    margin: 10px 0;
    width: 520px;
    height: 154px
}

input {
    font-family: montserrat;
    border: none;
    border-radius: 50px;
    resize: none;
    background-color:var(--lite-gray);
    padding-left: 10px;
    margin: 10px 0;
    width: 520px;
    height: 56px
}

.contact-icon {
    font-size: 40px;
    padding: 10px;
}

.contact-icon i {
    cursor: pointer;
    color: var(--naval-blue);
}

.interface-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.icon-list {
    list-style: none;
    padding: 0;
    margin: 3rem 0 0;
    display: flex;
    gap: 10px;
}

.product-contact {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6vw;
}

/* Style Our Product */
.faq .container {
    padding: 1rem 2rem;
    border-radius: 20px;
    margin: 1rem 0;
    cursor: pointer;
    transition: .2s;
}

.faq .container:hover {
    transform: scale(1.02);
}

.main-faq {
    display: flex;
    align-items: center;
}

.faq h2 {
    padding-bottom: 1rem;
}

.question {
    color: var(--naval-blue);
    font-size: 1.5rem;
}

.answer {
    padding-top: 0.5rem;
    padding-left: 2rem;
    color: var(--naval-blue);
}

.faq-btn {
    font-size: 1.2rem;
    padding-right: 1rem;
    color: var(--naval-blue);
    cursor: pointer;
}

.hidden {
    display: none;
}