/* Variables */
:root{
    /* Specific colors */
    --naval-blue: #0B0047;

    --aqua-marine: #50F4A6;

    --aqua-marine-lite: #2cd885;

    --black: #000;

    --white: #fff;

    --lite-gray: #e7e7e7;
}