/* Responsiviness for mobile */
/* Ainda devemos decidir o tamanho padão para mobile */
@media (max-width: 1225px and min) {

/* About-us Style */
.card-container {
    background-color: var(--naval-blue);
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    justify-content: space-around;
}

}