/* Responsiviness for medium width screens */

@media (max-width: 1225px) {

    /* About-us Style */
    .card-container {
        column-gap: 25px;
        margin-top: 30px;
    }
    
    .us .cards {
        width: 30%;
        min-width: 150px;
        margin-bottom: 30px;
        margin-top: 0px;
    }
}

/* Responsiviness for mobile and small screens */
@media (max-width: 768px) {

    body {
        width: 95%;
    }

    /* About-us Style */
    .us {
        padding: 2rem;
    }

    .card-container {
        column-gap: 8px;
        margin-top: 30px;
    }
    
    .us .cards {
        width: 40%;
        min-width: 150px;
        margin-bottom: 30px;
        margin-top: 0px;
        max-width: 217px;
    }
}

@media (max-width: 490px) {

    /* About-us Style */

    .card-container {
        column-gap: 8px;
        margin-top: 30px;
    }
    
    .us .cards {
        width: 90%;
        max-width: 300px;
        padding-top: 15px;
    }

    .us .cards .txt-card {
        gap: 0;
        margin-left: 1rem;
    }
}
