@import url('variables.css');

/* General Style */
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #e7e7e7;
}

.flex{
    display: flex;
}

/* Header Style */
header{
    background-color: #0B0047;
    margin: 21px 18px;
    border-radius: 60px;
    padding: 20px;
}

header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 5px;
}

header nav ul li:last-child {
    margin-right: 50px;
}

.menu-desktop{
    font-size: 40px;
    color: #fff;
    padding: 10px;
}

.link-btn{
    display: flex;
    align-items: center;
}

.btn-test-free button{
    padding: 18px 40px;
    font-size: 22px;
    color: #0B0047;
    font-weight: 700;
    background-color: #50F4A6;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px #2cd885;
    transform: scale(1.05);
}

/* Top-Site Style */
.top-site{
    padding: 40px 4%;
    margin: 50px 30px;
    background-color: #fff;
    border-radius: 50px;
}

.top-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.top-site h1{
    font-size: 70px;
    color: #0B0047;
    line-height: 100%;
    font-weight: 900;
}

.top-site .txt-top-site p{
    color: #0B0047;
    font-weight: 300;
    font-size: 30px;
    margin: 40px 0;
    text-align: justify;
    line-height: 100%;
    max-width: 900px;
}

.top-site .img-top-site img{
    position: relative;
    width: 800px;
}

.btn-plans button{
    padding: 18px 40px;
    font-size: 30px;
    color: #0B0047;
    font-weight: 800;
    background-color: #50F4A6;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    transition: .2s;
}

.top-about .interface .flex{
    display: flex;
    flex-direction: column;
}

.about{
    background-color: #fff;
    border-radius: 50px;
    padding: 40px 4%;
    margin: 50px 30px;
}

.about h1{
    font-size: 70px;
    font-weight: 900;
    color: #0B0047;
}

.about .cards{
    background-color: #0B0047;
    color: #fff;
    display: flex;
    border-radius: 30px;
    justify-items: center;
    padding: 20px 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px #000;
}

.about .cards .img-card{
    font-size: 100px;
    padding: 50px;
}

.about .cards .txt-card{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    max-width: 80%;
    gap: 20px; 
}

.about .cards h3{
    font-size: 38px;
    font-weight: 700;
}

.about .cards p{
    font-size: 24px;
    font-weight: 300;
}

.btn-free-test button{
    padding: 18px 40px;
    font-size: 40px;
    color: #0B0047;
    font-weight: 800;
    background-color: #50F4A6;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    transition: .2s;
    margin: 10px;
    display: flex;
    justify-self: center;
}

.us{
    background-color: var(--naval-blue);
    border-radius: 50px;
    padding: 40px 4%;
    margin: 50px 30px;
    color: #fff;
}

.card-container{
    background-color: var(--naval-blue);
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: space-around;
}

.us .cards .img-card{
    align-self: center;
    padding: 0px;
}

.group-img{
    height: 18rem;
    width: 18rem;
    border-radius: 20px;
}

.us .cards{
    flex-direction: column;
    background-color: #fff;
    color: var(--naval-blue);
    height: 25rem;
    width: 20rem;
}

.us h1{
    color: #fff;

}

.us .cards .txt-card{
    gap: 0;
    margin-left: 5px;
}

.group-description{
    padding-top: 38px;
    font-size: 25px;
}
